www.helloch.cn {
	redir https://helloch.cn{uri} permanent
}

helloch.cn {
	root * /usr/share/caddy
	try_files {path}.html {path}
	file_server
}

blog.helloch.cn {
	redir https://helloch.cn{uri} permanent
}
